<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: @micropost %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Compose new micropost',
                    class: 'text-countable' %>
    <span>
      Characters remaining: <span class="chars-remaining"></span>
    </span>
  </div>
  <%= f.submit 'Post', class: 'btn btn-large btn-primary' %>
<% end %>

<%= content_for :bottom do %>
  <%= javascript_include_tag 'post_count.js' %>
<% end %>
